body {
  background-color: #121212;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 94vh;
  margin: 1% 8% 1% 8%;
}

@media (min-width: 500px) {
  .container {
    display: flex;
  }
}

@media (max-width: 500px) {
  .container {
    margin-top: -5%;
    margin-bottom: 1%;
  }
}

.container div {
  padding: 35px 50px 15px 0px;
  margin: 1%;
}

.box {
  border-bottom: 2px solid #555a5a36;
  flex: 1;
  p {
    font-size: 18px;
    color: #748282;
    font-weight: 500;
    font-family: sans-serif;
  }
}
