// Responsive values
$mobile: 500px;

body {
    background-color: #121212;
    margin: 1% 8% 1% 8%;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 96vh;
}

.container {
    @media (min-width: $mobile) {
        display: flex;
    }

    @media (max-width: $mobile) {
        margin-top: -6%;
    }
}

.box {
    flex: 1;
    border-bottom: 2px solid #555a5a36;
    padding: 35px 0px 15px 0px;
    margin: 1%;

    p {
        color: #748282;

        font: {
            size: 18px;
            weight: 500;
            family: sans-serif;
        }

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}